body {
  height: 100vh;
}

#bookshelf-background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  min-width: 600px;
}
#books-container {
  display: flex;
}

.bookDiv {
  margin-left: 2px;
  margin-top: 2vh;
  height: 15vh;
  width: 5vw;
  background-image: url("../images/book-cover2.png");
  background-size: contain;
  border: 2px solid #694f34;
  border-radius: 10px;
  cursor: pointer;
}

.bookDiv > p {
  color: #c8a27a;
  font-family: "Raleway", sans-serif;
  margin: auto;
  word-break: break-word;
  writing-mode: vertical-rl;
  height: 100%;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
}
.bg-modal,
.book-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
}

.modal-content {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}

.modal-content label {
  font-size: 1.3em;
}

.book-modal-content {
  height: 500px;
  width: 300px;
  background-image: url(../images/book-front-cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.book-modal-content label {
  display: block;
  color: wheat;
  margin: 75px auto;
  font-size: 1.2em;
  width: 80%;
}

form > input {
  margin: 5px;
}

input[type="text"],
input[type="number"] {
  width: 50%;
  height: 30px;
  font-size: 1.5em;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}
input[type="button"] {
  cursor: pointer;
  background-color: royalblue;
  color: white;
  outline: none;
  height: 50px;
  width: 100px;
  font-size: 1.2em;
}
input[type="button"]:hover {
  background-color: rgba(65, 105, 225, 0.815);
}
input[type="button"]:active {
  box-shadow: 0 0 12px black;
}

.close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 35px;
  font-weight: bold;
  transform: rotate(45deg);
  cursor: pointer;
}

.delete {
  display: block;
  margin: auto;
  background: #f5deb4;
  border-radius: 10px;
}

.btn-newBook {
  display: flex;
  margin: auto;
  padding: 10px;
  background-color: #9f6111;
  color: #d9ab63;
  font-size: 2.2vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  outline: none;
}
.btn-newBook:hover {
  color: white;
}

@media (max-width: 1300px) {
  .bookDiv > p {
    font-size: 1vw;
  }
}
@media (max-height: 700px) {
  .bookDiv {
    margin-top: 1vh;
  }
}
@media (max-height: 400px) {
  .bookDiv {
    margin-top: -1vh;
  }
}
